@tailwind base;
@tailwind components;
@tailwind utilities;

*[contenteditable=true] > * {
	background-color: inherit !important;
	color: inherit !important;
	font-size: inherit !important;
	font-family: inherit !important;
}